.navbar {
  width: 100%;
  padding: 20px 50px;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  box-sizing: border-box;
}

.nav-logo img {
  height: 100px;
}

/* Menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out; 
  color: white;
}

.nav-menu li:hover {
  font-size: 20px; 
  font-weight: bold; 
}

/* Login + Cart */
.nav-login {
  display: flex;
  align-items: center;
  gap: 20px;                 
}

.nav-login button {
  padding: 8px 16px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.nav-login button:hover {
  background: linear-gradient(90deg, #ff512f, #dd2476); 
  color: white;
}

/* Cart */
.cart-container {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-container img {
  height: 50px;
}

.nav-cart-count {
  position: absolute;
  top: 8px;
  right: 38px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    gap: 10px;
  }

  .nav-logo img {
    height: 50px;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-menu li {
    font-size: 14px;
    white-space: nowrap;
  }
  .nav-menu li:hover {
    font-size: 12px; 
    font-weight: bold; 
  }



  .nav-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .nav-login button {
    padding: 6px 10px;
    font-size: 13px;
  }

  .cart-container img {
    height: 30px;
  }

  .nav-cart-count {
    top: 3px;
    right: 23px;
    width: 14px;
    height: 14px;
    font-size: 10px;
  }
}
